.App {
    display: flex;
    justify-content: center;
}

.IranFlagStyle {
    margin-top: 20px;
    border-radius: 5px;
    width: 350px;
}

.cont {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    flex-wrap: wrap;
}

@media only screen and (max-width: 600px) {
    .cont {
        display: block;
        margin-left: 7%;
        font-size: 25px;
    }
}

.p {
    margin-top: 100px;
}

.img1 {
    width: 400px;
}

.img2 {
    visibility: visible;
}

@media only screen and (max-width: 600px) {
    .img1 {
        width: 350px;
    }
}

@media only screen and (max-width: 600px) {
    .img2 {
        width: 350px;
    }
}

.Year57 {
    height: 150px;
    width: 200px;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-top-left-radius: 27px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 27px;
}

.Year57:hover {
    background-color: rgb(238, 50, 50);
}

.Year57 h4 {
    text-align: center;
    color: white;
    padding-top: 70px;
}


.Year60 {
    height: 150px;
    width: 200px;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-top-left-radius: 27px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 27px;
}

.Year60:hover {
    background-color: rgb(238, 50, 50);
}

.Year60 h4 {
    text-align: center;
    color: rgb(255, 255, 255);
    padding-top: 70px;
}

.Year70 {
    height: 150px;
    width: 200px;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-top-left-radius: 27px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 27px;
}

.Year70:hover {
    background-color: rgb(238, 50, 50);
}

.Year70 h4 {
    text-align: center;
    color: rgb(255, 255, 255);
    padding-top: 70px;
}

.Year80 {
    height: 150px;
    width: 200px;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-top-left-radius: 27px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 27px;
}

.Year80:hover {
    background-color: rgb(238, 50, 50);
}

.Year80 h4 {
    text-align: center;
    color: rgb(255, 255, 255);
    padding-top: 70px;
}

.Year90 {
    height: 150px;
    width: 200px;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-top-left-radius: 27px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 27px;
}

.Year90:hover {
    background-color: rgb(238, 50, 50);
}

.Year90 h4 {
    text-align: center;
    color: white;
    padding-top: 70px;
}

.Year1401 {
    height: 150px;
    width: 200px;
    background-color: #9932cc;
    border-radius: 10px;
    cursor: pointer;
    border-radius: 22px;
}

.Year1401 span {
    color: black;
}

.Year1401 h4 {
    text-align: center;
    color: rgb(255, 255, 255);
    padding-top: 70px;
}

@media only screen and (max-width: 600px) {
    .Year57,
    .Year60,
    .Year70,
    .Year80,
    .Year90,
    .Year1401 {
        width: 343px;
    }
}

a {
    appearance: none;
    text-decoration: none;
}

.card {
    height: 300px;
    width: 300px;
    font-size: 15px;
    background-color: rgb(0, 0, 0);
    direction: rtl;
    border-radius: 15px;
    color: white;
    margin: 5px 5px 5px 5px;
}

.pp {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    margin-top: 15px;
}

@media only screen and (max-width: 600px) {
    .card {
        height: 340px;
        width: 375px;
    }
}

.card h2 {
    text-align: center;
    padding-top: 8px;
}

.card span {
    padding-right: 15px;
}

.title1401 {
    text-align: center; 
}

@media only screen and (max-width: 600px) {
    .title1401 {
        text-align: center; 
    }
}

.HomeNoti {
    height: 170px;
    width: 750px;
    background-color: rgb(99, 205, 50);
    color: black;
    direction: rtl;
    border-radius: 5px;
    margin-left: 250px;
}

@media only screen and (max-width: 600px) {
    .HomeNoti {
        height: 250px;
        width: 320px;
        padding: 15px;
        margin-left: 24px;
    }
}

.parentInp {
    display: flex;
    justify-content: center;
}

.serachInp {
    direction: rtl;
    padding: 5px;
    width: 280px;
}

.soonTitle {
    display: flex;
    justify-content: center;
}

.soonTitle h3 {
    text-align: center;
}

.cpa {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

.count {
    text-align: center;
    border-radius: 10px;
    background-color: rgb(253, 236, 236);
    color: rgb(245, 13, 13);
}

.count button {
    background-color: black;
    appearance: none;
    padding: 15px;
    color: white;
    border-radius: 10px;
    border-style: none;
}

.count b {
    font-size: 47px;
    border-radius: 50%;
    color: red;
}

.card img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-top: 10px;
    margin-right: 85px;
}

@media only screen and (max-width: 600px) {
    .card img {
        margin-right: 130px;
    }
}